<soapenv:Envelope xmlns:soapenv="http://www.w3.org/2003/05/soap-envelope">
   <soapenv:Body>
      <ns:<%= prefix %>Response xmlns:ns="http://webservice.d1066.hyrt.com">
         <ns:return><%= res  %></ns:return>
      </ns:<%= prefix %>Response>
   </soapenv:Body>
</soapenv:Envelope>
